name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.3.0

      - name: Set up Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: "24.x"

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run Vitest with coverage
        run: npm run test:coverage

      - name: Print out CODECOV_TOKEN
        run: echo "CODECOV_TOKEN is $CODECOV_TOKEN"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Print out CODECOV_TOKEN1
        run: echo "CODECOV_TOKEN1 is $CODECOV_TOKEN
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN1 }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
